/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Chanticleer Roman nf Regular';
    src: url('/fonts/chanticleerromannf-webfont.eot');
    src: url('/fonts/chanticleerromannf-webfont.eot?#iefix') format('embedded-opentype'), 
         url('/fonts/chanticleerromannf-webfont.woff2') format('woff2'),
         url('/fonts/chanticleerromannf-webfont.woff') format('woff'), 
         url('/fonts/chanticleerromannf-webfont.ttf') format('truetype'),
         url('/fonts/chanticleerromannf-webfont.svg#chanticleer_roman_nfregular') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}
